- unless current_announcements.empty?
  #announcements_box
    -for announcement in current_announcements
      %div[announcement]
        = simple_format(announcement.message)
        %p#hide_announcement= link_to "Hide Announcements", hide_announcements_path #, :remote => true
