- title "#{@group.name} : Members", :subtitle => @group.description

#members
  - if can? :modify, @group
    = render :partial => "/invitations/new"
    =render :partial => "/invitations/pending", :locals => { :invitations => @invitations }
  = render :partial => "/memberships/list"
  
- content_for :sidebar do
  = render :partial => "/groups/links"