- title "#{@group.name} : Members"

#members
  - if can? :modify, @group
    = render :partial => "/invitations/new"
      
    =render :partial => "/invitations/pending"

  = render :partial => "/memberships/list"
  
  
- content_for :sidebar do
  = render :partial => "/groups/links"