- form.inputs do
  = form.input :body, :label => can?( :manage, @prayer ) ? "Your Update" : "Comment or Encouragement"
- if can?( :manage, @prayer ) && !@prayer.answered?
  - form.inputs :for => @prayer do |prayer|
    = prayer.input :answered, :label => "Mark this prayer as answered", :as => :boolean