- title "All Comments for '#{@prayer.title}'"

%p= link_to "Add a new Comment, Update, or Encouragement", new_prayer_comment_path(@prayer)

= render :partial => "list", :locals => { :comments => @comments }
    
- content_for :sidebar do
  %ul.links
    %li= link_to "Back to Prayer", @prayer