$primary_color: white;

$light_blue: #6d98ab;
$blue: #00275e;
$dark_blue: #262C32;
$yellow: #feb729;
$light_gray: #eeeeee;
$gray: #a8b1b8;
$dark_gray: #666666;
$white: white;
$black: black;
$red: #990000;
$box: #e5ecf9;
$rose: #ffe4e1;
$orange: #ff4500;
$antique_white: #faebd7;

$yellow: #ffd324;
$light_yellow: #fff6bf;
$brown: #514721;
