/* Formtastic Overrides */
form.formtastic
  padding: 2em
  margin: 2em 0
  label, input, textarea
    font-size: 1.1em
  input
    padding: 3px 0
    
form.formtastic fieldset ol li.error
  padding: 5px
    
form.formtastic
  input[type="checkbox"], input[type="radio"], input.checkbox, input.radio
    top: 0