# !primary_color = #4B7399
!primary_color = #FFF

!light_blue = #6D98AB
!blue       = #00275E
!yellow     = #FEB729
!gray       = #A8B1B8
!white      = #FFFFFF
!black      = #000000
!red        = #990000

body
  :font-size 80%
  :font-family "Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif
p
  :padding-top 5px
h1
  :font-size 2.5em
#header
  :padding 20px 0
  #context
    :float right
  #menu
    ul
      :display inline
      :list-style-type none
      :padding 0
      :margin 0
      li
        :display inline
        :font-size 18px
        :margin 5px
        :padding-left 10px
        :border-left= 1px "solid" !gray
      li.first
        :padding-left 0
        :border-left-width 0
        
#footer
  :margin 20px 0
  :font-size 80%
  :text-align left

// Flash Overrides
.success, .notice, .error, .failure
  :color #000
  :padding 5px 8px
  :margin 10px 0
.success, .notice
  :background-color #CFC
  :border solid 1px #6C6
.error, .failure
  :background-color #FCC
  :border solid 1px #C66

// Form Errors

.fieldWithErrors
  :display inline

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #fff
  / #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc

table
  :width 100%
  :border-collapse collapse
  tr
    :vertical-align top
  th, td
    :text-align left
    :padding 5px
    :background url(../images/dotted_horizontal_border.png) bottom repeat-x
  td.actions
    :text-align right
  td.actions, td.updated
    :white-space nowrap

table#prayer_list
  td.prayer
    span
      :font-size 0.8em
      color: #666
  a.prayer_title
    :font-weight bold

a.delete
  :color= !red

a.pending_invitation_count  
  :-moz-background-clip border
  :-moz-background-inline-policy continuous
  :-moz-background-origin padding
  :-moz-border-radius 5px
  :background-color #DDDDDD
  :color #999999
  :display inline-block
  :font-size 10px
  :font-weight bold
  :margin-left 2px
  :padding 1px 5px
  :text-decoration none
  :text-shadow none

#recent_comment_list
  .recent_comment
    :padding 5px
    :margin 10px 0
    :background-color #eee
    p
      :padding 0 0 3px 0
      :margin 0
    p.who
      :font-size 0.7em
      :font-style italic
  .recent_comment.update
    :background #E5ECF9
/*
  <div class='recent_comment' id='recent_comment_1'>
          <p class='commentor'>Ryan Wood says:</p>
          <p>I love this thing.</p>
          <p class='when'>added about 23 hours ago</p>
        </div>

  
// Formtastic Overrides
