!primary_color = #FFF

!light_blue = #6D98AB
!blue       = #00275E
!yellow     = #FEB729
!gray       = #A8B1B8
!dark_gray  = #666
!white      = #FFFFFF
!black      = #000000
!red        = #990000
!box        = #E5ECF9
!rose       = #FFE4E1

@import autocomplete.sass
@import formtastic_changes.sass

/* Main */
body
  font-size: 80%
  font-family: "Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif
p
  padding: 6px 0
  margin: 0
h1
  margin-top: 10px
  font-size: 2.5em
h2
  margin-top: 15px
  border-bottom= 1px "dotted" !light_blue
h3
  font-size: 1.4em
  margin: 25px 0 10px 0
  color= !dark_gray
.box
  margin: 1em 0
#header
  padding: 20px 0
  #context
    float: right
  ul#menu
    li
      font-size: 18px
#sidebar
  ul.links
    list-style-type: none
    padding: 0
    margin: 0
    font-size: 1.1em
    li
      padding: 2px 0
#footer
  border-top= 1px "solid" !gray
  color= !dark_gray
  margin: 30px 0
  padding: 1em 0
  font-size: 80%
  text-align: left
  
#about
  em
    font-style: normal
    color = !blue
    background-color= !box
    
  
ul.inline
  display: inline
  list-style-type: none
  padding: 0
  margin: 0
  li
    display: inline
    margin: 0
    padding: 0 5px 0 7px
    border-left= 1px "solid" !gray
  li.first
    margin-left: 0
    padding-left: 0
    border-left-width: 0

// Flash Overrides
.success, .notice, .error, .failure
  color: #000
  padding: 5px 8px
  margin: 10px 0
.success, .notice
  background-color: #CFC
  border: solid 1px #6C6
.error, .failure
  background-color: #FCC
  border: solid 1px #C66

// Form Errors

.fieldWithErrors
  display: inline

#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #fff
  / #f0f0f0
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #c00
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

table
  width: 100%
  border-collapse: collapse
  tr
    vertical-align: top
  th, td
    text-align: left
    padding: 10px 5px
    background: url(../images/dotted_horizontal_border.png) bottom repeat-x
  td.name, td.title
    font-weight: bold
    font-size: 1.25em
    div
      font-size: 0.7em
      font-weight: normal
    .preview
      color: #666
    .meta
        
  td.actions
    text-align: right
  td.actions, td.updated
    white-space: nowrap

table
  td.group
    font-size: 1.25em
    
a.delete
  color:= !red

a.pending_invitation_count
  -moz-background-clip: border
  -moz-background-inline-policy: continuous
  -moz-background-origin: padding
  -moz-border-radius: 5px
  background-color: #DDDDDD
  color: #999999
  display: inline-block
  font-size: 10px
  font-weight: bold
  margin-left: 2px
  padding: 1px 5px
  text-decoration: none
  text-shadow: none

#comment_list
  .comment
    padding: 5px
    margin: 10px 0
    background: url(../images/dotted_horizontal_border.png) bottom repeat-x
    p
      padding: 0 0 3px 0
      margin: 0
    .meta
      font-size: 0.7em
      .who
        font-style: italic
    ul
      font-size: 0.7em
  .comment.update .body
    font-weight: bold

.answered
  background-color = !rose
  padding: 1.5em
  strong
    font-size: 1.2em
  .answer
    margin: 1em 0
    padding: 1em
    background-color = !white

#add_member_area
  form
    margin: 0
    padding: 0
    fieldset.buttons
      li
        margin: 0
        
.checkbox_selectors
  text-align: right
  font-size: .75em
  
hr
  margin: 1em 0