
body {
  font-size: 80%;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif; }

p {
  padding: 3px 0; }

h1 {
  font-size: 2.5em; }

h2 {
  margin-top: 15px; }

.box {
  margin: 1em 0; }

#header {
  padding: 20px 0; }
  #header #context {
    float: right; }
  #header ul#menu li {
    font-size: 18px; }

#footer {
  margin: 20px 0;
  font-size: 80%;
  text-align: left; }

ul.inline {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul.inline li {
    display: inline;
    margin: 0;
    padding: 0 5px 0 7px;
    border-left: 1px solid #a8b1b8; }
  ul.inline li.first {
    margin-left: 0;
    padding-left: 0;
    border-left-width: 0; }

.success, .notice, .error, .failure {
  color: #000;
  padding: 5px 8px;
  margin: 10px 0; }

.success, .notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

.error, .failure {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

table {
  width: 100%;
  border-collapse: collapse; }
  table tr {
    vertical-align: top; }
  table th, table td {
    text-align: left;
    padding: 5px;
    background: url(../images/dotted_horizontal_border.png) bottom repeat-x; }
  table td.name, table td.title {
    font-weight: bold;
    font-size: 1.25em; }
    table td.name .meta, table td.title .meta {
      font-weight: normal;
      line-height: 1.5em;
      font-size: 0.75em; }
    table td.name span, table td.title span {
      color: #666; }
  table td.actions {
    text-align: right; }
  table td.actions, table td.updated {
    white-space: nowrap; }

table td.group {
  font-size: 1.25em; }


a.pending_invitation_count {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-border-radius: 5px;
  background-color: #DDDDDD;
  color: #999999;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 2px;
  padding: 1px 5px;
  text-decoration: none;
  text-shadow: none; }

#comment_list .comment {
  padding: 5px;
  margin: 10px 0;
  background-color: #eee; }
  #comment_list .comment p {
    padding: 0 0 3px 0;
    margin: 0; }
  #comment_list .comment .meta {
    font-size: 0.7em; }
    #comment_list .comment .meta .who {
      font-style: italic; }
#comment_list .comment.update {
  background: #E5ECF9; }

.answered {
  font-weight: bold;
  text-align: right;
  padding: 3px; }

form.formtastic {
  padding: 2em;
  margin: 2em 0; }
  form.formtastic label, form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-size: 1.25em; }
  form.formtastic input {
    margin-top: 3px;
    padding: 2px; }

form.formtastic fieldset ol li.error {
  padding: 5px; }

form.formtastic input[type="checkbox"], form.formtastic input[type="radio"], form.formtastic input.checkbox, form.formtastic input.radio {
  top: 0; }

.ac_results {
  padding: 0px;
  background-color: #e5ecf9;
  overflow: hidden;
  z-index: 99999; }
  .ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0; }
  .ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 1em;
    line-height: 1.5em;
    overflow: hidden; }

.ac_loading {
  background: white url('indicator.gif') right center no-repeat; }

.ac_over {
  background-color: #00275e;
  color: white; }
