
body {
  font-size: 80%;
  font-family: "Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif; }

p {
  padding-top: 5px; }

#header {
  padding: 10px 0; }
  #header #context {
    float: right; }
  #header #menu ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #header #menu ul li {
      display: inline;
      font-size: 18px;
      margin: 5px;
      padding-left: 10px;
      border-left: 1px solid #a8b1b8; }
    #header #menu ul li.first {
      padding-left: 0;
      border-left-width: 0; }

.success, .notice, .error {
  color: #000;
  padding: 5px 8px;
  margin: 10px 0; }

.success, .notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

.error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

table#pretty {
  width: 600px;
  border-collapse: collapse;
  border-top: 1px solid #00275e;
  border-right: 1px solid #00275e; }
  table#pretty tr {
    vertical-align: top; }
  table#pretty th, table#pretty td {
    text-align: left;
    padding: 10px;
    border-left: 1px solid #00275e;
    border-bottom: 1px solid #00275e; }
  table#pretty td.actions {
    width: 150px;
    text-align: center;
    border-left-width: 0; }
