- title "#{h(@group.name)} : Prayers", false

%h1 
  = @content_for_title
  .description= h @group.description

#prayers
  =render :partial => "/prayers/list"
  
- content_for :sidebar do
  = render :partial => "/groups/links"