- title "#{h(@group.name)} Prayers"

-#
  This is the layout for using jQuery tabs. Leaving in case I switch
  #group_tabs
    %ul
      %li
        %a{ :href => "#prayers" }Prayers
      %li
        %a{ :href => "#members" }Members
      - if can? :modify, @group
        %li
          %a{ :href => "#invitations" }Invitations

#prayers
  =render :partial => "/prayers/list"
  
- content_for :sidebar do
  = render :partial => "/groups/links"