- if @invitation
  .box
    %h2 Your invitation is waiting
    %p Thanks for coming! We just need to confirm who you are and we'll take you right to your new prayer group.


%h2 Sign up

- semantic_form_for @user do |form|
  = form.error_messages
  = render :partial => "/users/inputs", :locals => { :form => form }
  - form.buttons do
    = form.commit_button "Sign up"
