#about
  %h3 What is this?
  %p 
    Prayerthread is about seeing 
    %em the movement of God 
    in your life and the lives of those around you.
  %p 
    We are all part of a 
    %em larger story 
    that God is weaving, but we seldom see beyond ourselves.
