-#
  // Keeling incase I need to add any form help
  %h3 Formatting Help
  %p
    In order to create paragraphs, press ENTER twice.

  %p 
    You can use 
    = link_to "textile", "http://textile.thresholdstate.com/", :target => '_blank'
    formatting if you wish. Here are a few of the most common features:

  %p
    %table
      %tr
        %td To make text bold:
        %td
          %strong *bold*
      %tr
        %td To emphasize text:
        %td
          %em _emphasis_
      %tr
        %td To insert a link:
        %td
          %strong "linktext":url
      %tr
        %td Bulleted lists:
        %td
          %strong *
      %tr
        %td Numbered list:
        %td
          %strong #