@import "partials/base";

body {
  font-size: 14px;
  font-family: "Lucida Grande", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  background-color: $light_gray; 
}
#header {
  font-size: 1.4em;
  margin: 0;
  padding: 5px;
  color: $light_blue;
  letter-spacing: .5em;
  border-bottom: $light_gray;
  background-color: $white;
  span {
    color: $blue; 
  } 
}
#footer {
  margin: 20px 0;
  padding: 10px;
  border-top: 1px solid $gray;
}

#menu {
  padding-right: 10px;
  float: right;
  ul li a {
    color: white;
    font-weight: normal;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 1em; } }

.container {
  padding: 0; 
}
.inner {
  padding: 3px;
}
body#prayers .inner {
  padding: 0;
}
h1 {
  font-size: 1.4em;
  font-weight: normal;
  color: #666666;
  border-bottom: 1px solid #999;
  padding: 5px; 
  background-color: $white;
  margin: 0;  }

h3 {
  margin: 0;
  padding: 10px 0 5px; }

p {
  padding: 3px 0;
  margin: 0; }

a, a:visited {
  color: #00275e; }

a:hover {
  color: #6d98ab; }

ul.prayers {
  border-top: 1px solid $gray;
  padding: 0;
  margin: 0;
  li.prayer {
    list-style: none;
    border-bottom: 1px solid $gray;
    background-color: $white;
    a {
      display: block;
      text-decoration: none; 
      padding: 10px 5px 10px 10px; 
      color: $dark_gray;
      strong {
        color: $blue; }
      .avatar {
        float: left; 
        padding-right: 5px;}
      .next {
        margin-top:5px;
        float: right; }
      .date {
        font-size: 0.9em;
        font-weight: bold;}
      .preview { 
        font-size: 0.9em;
        height: 16px;
        overflow: hidden; } } } }
ul#views {
  width: 100%;
  li {
    display: inline;
    padding: 10px;
    border-left: 1px solid $gray;
    a {
      font-weight:bold;
      text-decoration:none;
    }
  }
}
  
.prayer {
  p {
    padding: 5px 0px;
  }
  .section {
    clear: both;
    margin: 5px;
    background-color: #FFF;
    border-radius: 10px;
    moz-border-radius: 10px;
    p {
      padding: 5px 10px;
    }
    .avatar {
      float: left; 
      margin: 8px 10px 5px 10px;
      img {
        padding: 1px;
        border: 1px solid $gray;
      }
    }
  }
  .posted {
    color: #666;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}

.pagination {  
  margin: 10px;
  em {
    font-style: normal;
  }
}

form.formtastic fieldset ol li label {
  display: block;
  width: auto;
  float: none;
  padding-top: .2em;
  font-weight: bold; 
}
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.password input, form.formtastic fieldset ol li.numeric input {
  width: auto;
}
form.formtastic fieldset.buttons {
  padding-left: 0; 
}
.command_bar {
  background-color: $blue;
  font-size: 0.8em;
  height: 4em;
  padding: 0 10px;
  ul {
    float: right;
    padding: 2px 0 0 0;
    li {
      display: inline;
      font-size: 1.4em;
      a {
        @include rounded-corners;
        margin: 5px 7px;
        padding: 3px 5px;
        color: $gray;
        text-decoration: none;
        &:hover {
          background-color: $dark_gray;
          color: $white; 
        }
      }
    }
    li.active {
      a {
        background-color: $light_blue;
        color: $white; 
      } 
    }
  }
  select {
    font-size: 1.4em;
    float:left;
    margin: 8px 0;
  }
}
label {
  font-weight:bold;
}
input[type='email'], input[type='text'], input[type='password'], textarea {
  width: 98%;
  padding: 8px;
  font-size:1.2em;
}
input[type="submit"] {
    background: $dark_blue;
    width: 200px;
    font-size: 1.1em;
    padding: 9px;
    letter-spacing: 1px;
    border: none;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}