@import "blueprint";
@import "partials/colors";

@include blueprint-print;

body, h1, h2, h3, h4 {
  font-family: Georgia, "Times New Roman", serif; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

.noprint, #header #context, #header #menu, #footer, .actions, #sidebar, .success, .notice, .error, .failure, .prayer .avatar, .command_bar, .pagination, .action_area {
  display: none; }

a, a:visited {
  color: black;
  text-decoration: none; }

img.gravatar {
  float: left;
  padding-right: 1em;
  padding-bottom: 1em; }

.prayer {
  margin-top: 1em;
  border-bottom: 1px solid $light_gray;
  .content {
    line-height: 20px;
    h3, .preview {
      padding-right: 10px; }
    .preview, .full {
      margin-left: 10px;
      line-height: 20px; }
    .meta {
      font-size: 8pt;
      font-weight: normal;
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline; } }
      a, strong {
        font-weight: normal; } }
    .answer {
      margin-bottom: 1em;
      padding: 0 1em; } } }
      
.last_update {
  margin: 10px;
  padding: 10px;
  border:1px solid $light_gray;
}

#header {
  margin: 0;
  padding: 0.5em 0;
  #title {
    font-family: "Lucida Grande", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
    border-bottom: 1px solid $gray;
    font-size: 1.5em;
    letter-spacing: 0.8em;
    margin: 0.5em 0;
    a {
      text-decoration: none;
      color: $light_blue;
      span.alt {
        color: $blue;
        font-weight: bold; } }
    span.sub {
      font-family: Georgia, serif;
      letter-spacing: 0;
      font-size: 0.6em;
      font-style: italic; } } }
