// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
//@import "blueprint/buttons";

@import "compass/utilities";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
@include blueprint-typography(unquote("body.bp"));

@include blueprint-scaffolding(unquote("body.bp"));

body.bp {
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint_grid_columns); }
  #content {
    $content_columns: ceil(3 * $blueprint_grid_columns / 4) - 1;
    @include column($content_columns);
    @include colborder; }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar_columns: floor($blueprint_grid_columns / 4);
    @include column($sidebar_columns, true); } }

/* Main */
body {
  font-size: 80%;
  font-family: "Lucida Grande", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.3em; }

p {
  padding: 6px 0;
  margin: 0; }

a {
  color: $blue;
  &:hover {
    color: $light_blue; } }

h1 {
  margin-top: 10px;
  font-size: 2.5em;
  letter-spacing: -2px;
  padding-bottom: 15px;
  border-bottom: 1px solid $light_gray;
  .subtitle {
    padding-top: 10px;
    font-weight: normal;
    letter-spacing: 0;
    font-style: italic;
    font-size: 0.4em;
    color: $dark_gray; } }

h2 {
  font-size: 1.6em;
  margin: 35px 0 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light_gray; }

h3 {
  font-size: 1.4em;
  margin: 10px 0;
  color: $dark_gray; }

.box {
  @include box;
  margin: 1em 0; }

.hidden {
  display: none; }

#header {
  padding: 0.5em 0 1.5em;
  #title {
    border-bottom: 1px solid $gray;
    font-size: 1.5em;
    letter-spacing: 0.8em;
    margin: 0.5em 0 1.5em;
    padding-bottom: 0.5em;
    a {
      text-decoration: none;
      color: $light_blue;
      span.alt {
        color: $blue;
        font-weight: bold; } }
    span.sub {
      font-family: Georgia, serif;
      letter-spacing: 0;
      font-size: 0.6em;
      font-style: italic; } }
  #context {
    margin-top: 0.5em;
    float: right;
    img {
      float: left;
      padding: 0 5px; } }
  #menu {
    float: right;
    ul li {
      font-size: 18px; } } }

#sidebar {
  h3 {
    margin-top: 1.5em; }
  ul.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 2px 0; } }
  ul#views {
    padding: 0;
    margin-bottom: 1em;
    border-top: 1px solid #eeeeee;
    li {
      font-size: 1.1em;
      padding: 5px 10px;
      border-bottom: 1px solid #eeeeee;
      a {
        text-decoration: none;
        color: $dark_gray; }
      a.print {
        float: right; } }
    li.selected {
      font-weight: bold;
      background-color: $light_gray;
      a {
        color: $blue; } }
    li ul {
      font-weight: normal;
      border-width: 0;
      li {
        height: 0.8em;
        font-size: 0.8em;
        border-width: 0; } } } }

#footer {
  border-top: 1px solid $light_gray;
  color: $dark_gray;
  margin: 30px 0;
  padding: 1em 0;
  font-size: 80%;
  text-align: left; }

#about {
  em {
    font-style: normal;
    color: $blue;
    background-color: $box; } }

.actions {
  float: right;
  font-size: 0.9em; }

table {
  width: 100%;
  border-collapse: collapse;
  tr {
    vertical-align: top; }
  th, td {
    text-align: left;
    padding: 10px 5px;
    background: url(../../images/dotted_horizontal_border.png) bottom repeat-x; }
  td.name, td.title {
    font-weight: bold;
    font-size: 1.25em;
    div {
      font-size: 0.7em;
      font-weight: normal; }
    .preview {
      color: #666666; }
    .meta {} }
  td.actions {
    text-align: right; }
  td.actions, td.updated {
    float: none;
    white-space: nowrap; }
  td.group {
    font-size: 1.25em; } }

table#members_table {
  td {
    padding: 2px 10px; }
  th.gravatar, td.gravatar {
    width: 50px;
    background-image: none; } }

.groups table td.name .description {
  font-style: italic;
  font-size: 0.7em;
  font-weight: normal;
  color: $dark_gray; }

.prayers {
  margin-bottom: 1em;
  .prayer {
    padding: 10px 0;
    background: url(../../images/dotted_horizontal_border.png) bottom repeat-x;
    font-size: 0.9em;
    clear: left;
    .content {
      margin-left: 7em; }
    h3 {
      margin: 0;
      padding: 0;
      font-weight: bold; }
    .preview, .meta, .actions, .answer, .full {
      margin-top: 0.25em; }
    .answered_token {
      float: left;
      font-family: "Helvetica Neue";
      margin: 3px;
      padding: 0 3px;
      font-weight: normal;
      font-size: 0.9em;
      background-color: $red;
      color: $white; }
    .actions {
      float: none; }
    .preview {
      color: #666666;
      padding: 0;
      height: 1.2em;
      line-height: 1.2em;
      overflow: hidden; }
    .full {
      margin-top: 1em; }
    li.intercession {
      font-weight: bold;
      color: $blue;
      a {
        color: $orange; } }
    .answer {
      border-width: 0;
      margin: 1em 0 0 0;
      padding: 0.5em; }
    .meta {
      clear: none;
      font-size: 0.9em;
      color: #333333;
      ul {
        margin: 0;
        padding: 0; } } } }

.prayer {
  clear: left;
  h2 {
    .actions {
      font-size: 12px; } }
  .avatar {
    float: left; }
  .content {
    margin-left: 9em;
    padding-left: 10px;
    .original {
      background-color: #E5ECF9; }
    p {
      padding: 0 0 1em 0;
      line-height: 1.5em; }
    .actions {
      padding: 0 0 10px 10px;
      font-size: 0.8em; }
    ul#activities {
      color: $blue;
      padding: 0.5em 0;
      margin: 0.5em 0;
      background-color: $antique_white;
      li.first {
        margin-left: 5px; }
      li a {
        color: $orange; }
      img {
        vertical-align: bottom; } } }
  hr {
    @include container;
    width: 100%;
    border-width: 0;
    background: url(../../images/dotted_horizontal_border.png) bottom repeat-x;
    height: 10px;
    margin: 1em 0; }

  .comments {
    .comment {
      background: url(../../images/dotted_horizontal_border.png) bottom repeat-x;
      padding-bottom: 15px;
      margin-bottom: 15px;
      .avatar {
        width: 7em;
        text-align: right; }
      p.time {
        @include bulleted;
        padding-top: 10px;
        font-size: 0.8em; } }
    .update .content {
      border-left: 2px solid $light_blue; } }
  .answer {
    margin-top: 0;
    h3 {
      color: $blue;
      font-size: 1.4em;
      font-weight: bold; }
    .actions {
      padding: 0; } }
  .meta {
    font-size: 0.8em;
    ul {
      margin: 0;
      padding: 5px 0;
      li {
        display: inline;
        @include bulleted; } }
    p {
      padding: 1px 0;
      border: 1px solid #999999; } } }

img.gravatar {
  padding: 1px;
  border: 1px solid #999999; }

li#comment_count {
  padding-left: 12px;
  background: url(../../images/comment.png) center left no-repeat; }
/*
.comments .comment {
  padding: 5px;
  margin: 0 0 10px 0;
  background: url(../../images/dotted_horizontal_border.png) bottom repeat-x;
  .avatar {
    float: left; }
  .content {
    margin-left: 6em;
    margin-bottom: 1em; }
  p {
    padding: 0 0 3px 0;
    margin: 0;
    font-size: 0.9em; }
  img.gravatar {
    margin: 0.25em 0.75em 0.75em 0; }
  .body {
    color: $dark_gray;
    p {
      padding: 5px 0; } }
  .author {
    font-size: 1.1em;
    span {
      font-weight: bold; } }
  .time {
    @include bulleted;
    padding-top: 4px;
    font-size: 0.8em; }
  .actions {
    font-size: 0.8em; } }
*/
#sidebar .comments .comment {
  font-size: 0.85em;
  .content {
    margin-left: 4em;
    .body {
      padding: 0;
      margin: 0; } } }

a.delete {
  color: $red; }

a.pending_invitation_count {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  -moz-border-radius: 5px;
  background-color: #dddddd;
  color: #999999;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin-left: 2px;
  padding: 1px 5px;
  text-decoration: none;
  text-shadow: none; }

#add_member_area {
  form {
    margin: 0;
    padding: 0;
    fieldset.buttons {
      li {
        margin: 0; } } } }

.checkbox_selectors {
  text-align: right;
  font-size: 0.75em; }

hr {
  margin: 1em 0; }

#help {
  img.gravatar_default {
    float: left;
    padding: 10px; } }

.account_gravatar {
  text-align: center;
  padding: 1em; }

.action_area {
  clear: both;
  padding: 1em 0;
  margin: 1em 0;
  border: 1px solid $gray;
  border-width: 1px 0 1px 0;
  border-bottom: 1px solid #999999; }

.date {
  font-size: 0.6em;
  text-transform: uppercase;
  color: $dark_gray; }

.activities {
  h3 {
    margin: 0.5em 0; }
  li {
    padding-left: 5px;
    padding-bottom: 3px;
    list-style: none;
    .activity {
      padding-left: 80px; }
    .date {
      float: left;
      padding-top: 3px; } } }

#prayer_selector_form {
  font-weight: bold;
  background-color: $box;
  padding: 10px;
  height: 20px;
  fieldset {
    float: left;
    margin-right: 50px; } }

a.print {
  padding-left: 20px;
  background: url(../../images/printer.png) no-repeat left center; }

.command_bar {
  @include rounded-corners;
  background-color: $blue;
  font-size: 0.8em;
  height: 3.2em;
  padding: 0 10px;
  .print_icon {
    float: right;
    padding: 8px 0; }
  ul {
    margin-right: 40px;
    float: left;
    padding: 8px 0;
    li {
      display: inline;
      a {
        @include rounded-corners;
        margin: 5px 3px;
        padding: 3px 5px;
        color: $gray;
        text-decoration: none;
        &:hover {
          background-color: $dark_gray;
          color: $white; } } }
    li.active {
      a {
        background-color: $light_blue;
        color: $white; } } }
  a.print {
    float: right;
    color: $white;
    padding: 8px 0 8px 20px;
    background: url(../../images/printer.png) no-repeat left center;
    text-decoration: none;
    &:hover {
      text-decoration: underline; } } }

.pagination {
  @include rounded-corners;
  font-size: 0.9em;
  background-color: $box;
  padding: 5px 20px;
  margin-bottom: 10px; }

.tooltip {
  @include rounded-corners;
  display: none;
  color: #111111;
  background-color: white;
  border: 5px solid $blue;
  width: 150px;
  padding: 1em;
  margin-left: 1em;
  a {
    color: #aadd44;
    font-size: 11px;
    font-weight: bold; } }    
/*
button {
  color: #FFF;
  font-size: 1.4em;
  @include button-button;
  @include button-colors($blue, $light_blue, $blue); }
*/
