.box
  %h2 Your invitation is waiting...
  %p
    You've been invited by
    %strong<= @invitation.sender.name
    to join the 
    %strong<= @invitation.group.name
    prayer group.
  %p
    %strong
      If you already have an account, please 
      = link_to( "sign in", accept_invitation_path(@invitation, :token => params[:token]))
      to accept the invitation.
