- unless @invitations.empty?
  %h2 Pending Invitations
  %table
    %tr
      %th Email
      %th Sent
      %th 
    - @invitations.each do |invitation|
      %tr
        %td.email= h invitation.recipient_email
        %td.sent
          = time_ago_in_words(invitation.sent_at || invitation.created_at)
          ago
        %td
          = link_to "Cancel", group_invitation_path(invitation.group, invitation), |
            :method => :delete, |
            :confirm => "Are you want to cancel the invitation sent to #{h invitation.recipient_email}?", |
            :class => 'delete' |