- count_pending = current_user.invitations.pending.count
-if count_pending > 0
  .box
    %strong= "You have #{pluralize(count_pending, 'pending invitation')}."
    = "#{link_to "Click here to review and accept", invitations_path}."