- title "Invitations"

  
%h3 Invitations Waiting for Your Acceptance
- unless @invitations.empty?
  = render :partial => "list", :locals => { :invitations => @invitations }
-else
  .box
    %strong You currently have no pending invitations.
    %p 
      You may want to 
      = link_to "create your own group", new_group_path
      and invite other's to join.

- unless @sent_invitations.empty?
  %h3 Pending Invitations You Sent
  = render :partial => "pending", :locals => { :invitations => @sent_invitations, :show_group => true }
    
%p= link_to raw("&laquo; Back to your prayer list"), prayers_path
