- form.inputs do
  = form.input :title
  = form.input :body
  / = form.input :private
  - if !form.object.new_record?
    = form.input :answered, :label => "This prayer has been answered"
  = form.input :groups, :as => :check_boxes, :collection => current_user.groups

