- title "Prayers"

= render :partial => "/invitations/pending_message"

= render :partial => "list"

- content_for :sidebar do
  %ul.links
    = render :partial => "/shared/links"
  
  - unless current_user.groups.empty?
    %h3 My Groups
    %ul.links
      - current_user.groups.each do |group|
        %li= link_to h(group.name), group